@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body{
    background-color: hsl(185, 75%, 39%);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}
img{
    max-width: 100%;
    display: block;
}
.bg-top{
    position: absolute;
    /* z-index: -1; */
    right:50%;
    bottom:50%;
    
}
.bg-bottom{
    position: absolute;
    /* z-index: -1; */
    top:50%;
    left:50%;
}
.profile-card{
    width: 50vh;
    height: 55vh;
    background-color:white;
    /* border-radius: 0.66vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.32vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-temp{
    object-fit: contain;
    width: 50vh;
    border-radius: 10px 10px 0px 0px;
}
.profile {
    position: absolute;
    top: 13.9vh;
    left: 18.56vh;
    border-radius: 50%;
    border: 5px solid white;
}
.profile-name {
    margin: 10vh 9vh 6vh 9vh;
    text-align: center;
    font-family: 'Kumbh Sans', serif;
    position:relative;
}
.profile-card h3{
    margin-bottom: 0px;
}
.profile-card h3 span, p {
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    margin-top: 1vh;
}
#footer{
    border-top-color: hsl(0, 0%,89%);
    width: 50vh;
    border-top-style: solid;
    border-width: 0.1vh;
}
#child{
    width: 9vh;
    border: 0px;
    display: inline-block;
    font-family: 'Kumbh Sans', serif;
    text-align: center;
    margin-top: 1vh;
}
#child p{
    margin-top: 0px;
    font-size: 1.3vh;
    letter-spacing: 0.1rem;
}
#child h3{
    margin-bottom: 0.5vh;
}
.footer--1{
    margin:0px 5vh 0px 5vh;
}
.footer--2{
    margin:0px 1vh 0px 2vh;
}
.footer--3{
    margin:0px 5vh 0px 3vh;
}  
@media only screen and (max-width: 380px) {
    .bg-top {
        transform: translate(-1%,-24%);
    }
    .bg-bottom {
        transform: translate(-4%,8%);
    }
} 